<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderDojo</title>
</head>
<body>
    <h1>Welcome to {{club_name}}</h1>
    <p class="shout">{{club_name | title}}</p>
    <p>Free coding session for young people ages 7 to 17.</p>
    <p>{{next_session}}
    <p class="intro">What we learn</p>
    <ul>
        <li>Scratch</li>
        <li>ME</li>
        <li>bashing</li>
    </ul>
    
</body>
</html>